#MainImage{
    width: 100%;
    height: 50vh;
    background: blue;
}
#catgoriesBox{
    width: 100%;
}
#catgories{
    overflow-x: scroll;
    display: flex;
    flex-direction: row;
    width: 95%;
    margin: 0 2.5% 0 2.5%;
}